.box-palestrantes-internacionais{
	@extend .box-temas-cientificos;
	padding: 60px 90px 60px 0px;
	margin-left: 0px;

	.titulo{
		padding: 30px;
		margin-bottom: 0px;
		border: 2px solid $cor-02;
		border-left: 0px;
		text-align: right;
		color: $cor-02;
		font-weight: 700;
	}

}


.box-palestrante{
	margin: 30px 0px;
	padding: 0px 15px;
	img{
		margin-bottom: 20px;
	}
	.info{
		text-align: center;
		*{
			margin: 0px;
			color: $body-color;
		}
		h3{
			font-size: 16px;
			font-weight: 700;
		}
		h4{
			font-size: 14px;
		}
	}
}