.patrocinadores{
	.container-losango{
		.losango-quadrado{
			background: rgba( $cor-02,1);
		}
	}
	h4{
		font-size: 12px;
		text-transform: uppercase;
		margin: 30px 0px 0px 0px;
		text-align: center;
	}

	.outros-patrocinadores{
		margin: 50px 0px;
	}
}