.slider-modular{
	.controlers{
		background: $slider-modular-box-controler;
		height: 260px;

		.msg{
			text-transform: uppercase;
			text-align: center;
			padding-top: 40px;
			font-weight: 900;
		}

		.carousel-control-prev{
			width: 40%;
			justify-content: flex-end;
		}
		.carousel-control-next{
			width: 40%;
			justify-content: flex-start;
		}
		a{
			opacity: 1;
			.square{
				border: 2px $slider-modular-controlador solid;
				width: 50px;
				height: 50px;
				padding: 10px;
				@include rotate( 45deg );

				span{
					width: 100%;
					height: 100%;
					border: 2px $slider-modular-controlador solid;
					display: block;
					&.next-icon{
						border-bottom: transparent;
						border-left: transparent;
					}
					&.prev-icon{
						border-top: transparent;
						border-right: transparent;
					}
				}
			}
		}
	}
	.box-auxiliar{
		background: $slider-modular-box-auxiliar;
		@extend .full-size;

		&.container-losango{
			min-height: 240px;

			.losango-quadrado{
				width: 140px;
				height: 140px;
				background: transparent;
				border: 1px solid $slider-modular-box-auxiliar-color;
			}
		}

		.conteudo{
			width: 130px;
			position: relative;
			z-index: 9999;
			margin: 0 auto;
			text-transform: uppercase;
			font-weight: 900;
			color: $slider-modular-box-auxiliar-color;
			display: block;
		}
	}
}